*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: TT Lakes;
    -webkit-tap-highlight-color: transparent;
}
body{
    background: #F8F8F8;
}
a{
    text-decoration: none;
    color: inherit;
}
.wrapper{
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.header{
    padding: 16px 0px 16px 0px;
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFF 100%);
}
.header::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    background: #D9FFF5;
}
.header__title{
    color: #7E7E82;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    text-transform: uppercase;
}
.swipper__wrapper{
    display: none;
    position: relative;
}
.swiper-wrapper{
}
.swiper-container{
    margin: 16px 0 0 16px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    width: 240px;
    height: 72px; 
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background: #FFF;
}
.swipper__wrapper::after{
    content: '';
    position: absolute;
    display: block;
    right: 0%;
    top: 30%;
    transform: translate(0,-30%);
    width: 24px;
    height: 81px;
    flex-shrink: 0;
    z-index: +1;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
}
.brand-logo{
display: flex;
}
.card-button{
    display: flex;
}
.swiper-pagination{
    position: relative;
    margin-top: 16px;
}
.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background-color: #B5B6BC;
    
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,7px);
}
.swiper-pagination-bullets.swiper-pagination-horizontal{
    position: relative;
    bottom: var(--swiper-pagination-bottom,0px);
}
/* sec brand-gallery */
.brand-gallery{
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
}
.brand-gallery__inner{
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    align-content: start;
    gap: 16px 32px;
    height: min-content;
    transition: height 1s linear;
}
.brand-gallery__card{
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.toggle-brand-list-button{
    display: flex;
    width: max-content;
    gap: 8px;
}
.toggle-brand-list-button__text{
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
}
/* sec media */

@media screen and (max-width: 767px){
    /* .brand-gallery__inner{
        grid-template-columns: repeat(auto-fit, 240px);
    } */
    .header{
        padding-left : 16px;
        padding-right: 16px;
    }
    .swipper__wrapper{
        display: block;
    }
    .brand-gallery{
        display: none;
    }
    .wrapper{
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    .header{
        padding-left : 24px;
        padding-right: 24px;
    }
    .wrapper{
        width: 100%;
        gap: 24px;
    }
}
@media screen and (max-width: 1119px) {
    .brand-gallery__inner{
        grid-template-columns: repeat(auto-fit, 224px);
    }
}
@media screen and (min-width: 1120px) {
    .header{
        padding-left : 32px;
        padding-right: 32px;
    }
    .brand-gallery{
        padding-left: 32px;
        padding-right: 32px;
    }
    .brand-gallery__inner{
        grid-template-columns: repeat(auto-fit, 240px);
    }
}